/****************************************/
/*             Home Page CSS            */
/*    Title: Just another Homepage      */
/*    Author: wolfkin                   */
/*    Contact: About.me/Wolfkin         */
/*                                      */
/*    Lasted Updated: 2022-04-20        */
/****************************************/

/******************************************
This is where I'll put my resets

******************************************/
body{
	font-size: 1em;
}
ol, ul{
	padding-left: 0
}
h1,h2,h3,h4{
	text-align: center;
}
h1{font-size: 1.8em;}
h2{font-size: 1.6em;}
h3{font-size: 1.4em;}
h4{font-size: 1.2em;}
h5{font-size: 1.2em;}
h6{font-size: 1.1em;font-style: italic;}
li{list-style-type: none;}
a:link{
	text-decoration-line: none;}
.center{text-align: center;}
.clear {clear: both;}

/******************************************
This is where I'll put my main code

******************************************/

footer ol li{
	display: inline;
}

.section{
	float: left;
	margin: 5px 10px;
	padding: 20px;
}
.section li{
	font-weight: bold;
	margin: 5px;
	padding: 10px 20px;
}
div.section:hover h4{
	text-decoration: underline;
}

#main{
	display: flex;
	justify-content: center;
}
